<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="slds">
    <main>
      <div class="slds-grid slds-grid--frame">
        <div class="slds-col myBox">App Content</div>
      </div>
    </main>
  </body>
</html>